body, h1, h2, h3, h4, p, a, ul, li, ol, div, img, section, figure, hr {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo {
	width: 25%;
}
.gif {
	width: 50%;
	margin: auto;
}
.profile-img {
	border-radius: 100%;
	box-shadow: 0 0 15px #454545;
	width: 200px;
	margin: 0.5em 0;
}
h5 {
	font-family: 'Overpass';
	border: 0;
	margin: 0em 0 0.5em 0;
	padding: 0;
	color: #F2D1C1;
	font-weight:700;
	font-size: 19.5px;
	letter-spacing: 0.7px;
}
.sub-content {
	font-size: 19px;
	line-height: 32px;
	margin-bottom: 1em;
}
figure {
	width: 100%;
}
#resume {
	text-align: center;
	margin:0;
	border:0;
	padding: 0;
}
#footer {
	text-align: center;
}
#footer li, #nav li {
	list-style-type: none;
	display: inline;
	margin-left: 1.5em;
}
i {
	color: #eee;
}
body {
	background-color: #434343;
	font-family: 'Overpass';
	font-weight: 300;
  font-size: 21px;
  line-height: 35px;
  color: #FFF59D;
}

ol>li {
	list-style-type: upper-alpha;
	margin-left: 1.1em;
	font-size: 19px;
}
.interviews li {
	list-style-type: circle;
	margin-left: 1.1em;
}
.project-content {
	margin-top: 1em; font-size: 19px; line-height: 32px; margin-bottom: 1em;
}
.container {
	max-width: 723px;
	position: relative;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 48px;
}

.nav-el:hover {
	padding-bottom: 4px;
	border-bottom: 2px solid #FF80AB;
	color: #FF80AB;
	transition: 0.2s ease;
}
.avatar-img {
	margin-top:0.5em;
}
.caption {
	font-size: 12px;
	color: #989898;
}
div {
	display: block;
}
img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
}

.link {
	border-bottom: 2.75px solid #FF80AB;
	padding-bottom: 0.15em;
}
.link:hover {
	color: #FF80AB;
	transition: 0.2s linear;
}

hr {
  border: 1px solid #343434;
  margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#work, #navigation, #initial-designs {
	width: 100%;
	display: flex;
	flex-wrap: flex;
}
#initial-designs img {
	padding-right: 0.5em;
}
#work {}
.left, .right {
	font-size: 15px;
	font-weight: 400;
}
.right {
	text-align: right;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
width: 58.33%;
}
.col-8 {
	width: 66.66%
}
.col-9 {
	width: 75%
}
.col-10 {
	width: 83.33%
}
.col-11 {
	width: 91.66%
}
.col-12 {
	width: 100%;
}
#project-desc {
	font-size: 12px;
}

#project-img {
	margin-top: 0.5em;
	padding-right: 1em;
}
#title {
	font-weight: 500;
}
#desc {
	line-height: 19.5px;
	margin-bottom: 0.8em;
}

.button {
	background-color: #eee;
	border: 0.1px solid #D6FFB7;
	color: #454545;
	font-weight: 600;
	padding: 0.5em 0.8em;
	text-transform: uppercase;
	font-size: 17px;
	border-radius: 3px;
	margin: 1em;
	text-align: center;
	letter-spacing: 0.6px;
	transition: all 0.3s ease;
	display: inline-flex;
}
.button2 {
	background-color: inherit;
	border: 0.1px solid #454545 ;
	color: #454545;
	padding: 0.6em;
	font-size: 13px;
	border-radius: 3px;
	margin: 5em 0 0 0;
	border-radius: 30px;
	text-align: center;
}
.button:hover, .button2:hover {
	background-color: #1E1E24;
	color: #fff;
	border: 1px solid #1E1E24;

}

h4 {
	font-weight: 700;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	color: #F7EBE8;

}
h3 {
	font-family: 'Catamaran';
	font-weight: 500;
	color: #F7EBE8;
	margin-bottom: 1em;
	margin-top:0.5em;
	letter-spacing: 0.9px;
}
h1 {
	font-family: 'Catamaran';
	font-weight: 700;
	color: #F7EBE8;
	letter-spacing: 2.5px;
	margin-bottom: 1em;
	margin-top: 0.5em;
	line-height: 60px;
	font-size: 55px;
}
h2 {
	font-weight: 600;
	color: #F7EBE8;
	letter-spacing: 1.5px;
	margin-bottom: 1em;
	margin-top: 0.5em;
	line-height: 43px;
}
#footer, #experience, #bio-line, #contact, #together, #writing, #project-main, #design_process {
	margin-top: 2em;
	margin-bottom: 2em;
}
#bio-line {
		text-align: center;
}

.projects {
	margin-bottom: 5em;
}
.fancy-box {
	border: 3px solid #F2D1C1;
	padding: 1em;
	font-size: 19px;
	margin: 1em 0;
}
li {
	list-style-type: none;
	margin-bottom: 1em;
}
li>span {
	font-weight: 700;
	color: #F7EBE8;
}
ul {
	font-size: 19px;
}
.slider {
	margin-top: 1em	;
}
.margin {
	margin-left: 1em;
}

@media screen and (max-width: 750px) {
	.container {
		padding: 0 5% 0 5%;
	}
	#work {
		display: inline;
	}
	.col-9, .col-3, .col-6, .col-6 {
		width: 100%;
	}
	.margin {
		margin-left: 0;
	}
	#project-img {
		padding-right: 0;
		}
	}

@media screen and (max-width: 500px) {
	body {
		font-size: 18px;
		line-height: 29px;
	}
	.container {
		margin-top:5%;
	}
	#nav {
		font-size: 1rem;
	}
	.grid figure:last-child {
		width: 100% !important;
		max-width: 100%;
	}
	#bio-line h2 {
		font-size: 1.5rem;
		line-height: 38px;
	}

}

#twitter:hover {
	color: #00aced;
}
#linkedIn:hover {
	color: #007bb6;

}
#medium:hover {
	color:#14c767;

}
#behance:hover {
	color: #1769ff;
}
